@media all and (min-width:414px){

  .container{
    max-width: 414px;
  }

  .card__img{
    height: 365px;
    width: 365px;

  }

  .card__product-description{
    display: none;
  }

  .card{
    flex-direction: column;
  }

  .card__title{
    font-size: var(--FONT_SIZE_20);
  }

  .button{
    height: 50px;
    width: 365px;
  }

  .card_scroll-block{
   width: 327px;
  }

  .why-are-we__card{
    height: 180px;
    width: 365px;
  }

  .categories__card_img{
    height: 161px;
    width: 161px;
  }

  form{
    width: 365px;
  }

  input{
    width: 333px;
  }

  .footer__hr{
    width: 365px;
  }
}

@media all and (min-width:640px){

  .container{
    min-width: 639px;
  }

  .title{
    font-size: var(--FONT_SIZE_22);
  }

  .card{
    flex-direction: column;
  }

  .card__img{
    height: 365px;
    width: 365px;
  }

  .card__description-block{
    margin-right: 132px;
  }

  .card__product-description{
    display: none;
  }



  .card_scroll-block{
    width: 370px;
  }

  .first-section__wrapper{
    align-items: center;
  }

  .first-section__achievements{
    flex-direction: row;
  }

  .why-are-we__wrapper{
    display: flex;
    flex-direction: column;
  }

  .why-are-we__card{
    height: 200px;
    width: 591px;
  }

    .categories__card_img{
      width: 285px;
      height: 285px;
    }

    .categories__card_description{
      font-size: var(--FONT_SIZE_18);
    }

    .footer-section__communication{
      justify-content: space-evenly;
    }

    .nav-menu__wrapper{
      justify-content: space-evenly;
    }

    .footer__hr{
      width: 592px;
    }
}

@media all and (min-width:768px){

  .container{
    min-width: 768px;
  }

  .hamburger{
    display: none;
  }

  .header__brand-logo{
    display: block;
  }

  .nav-menu{
    display: flex;
  }

  .header__nav-container{
    justify-content: space-around;
  }

  .header__nav-menu_list{
    flex-direction: row;
  }

  .nav-menu__contact-number{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: var(--FONT_SIZE_14);
  }

  .title{
    font-size: var(--FONT_SIZE_28);
  }

  .card{
    flex-direction: row;
  }

  .card__subtitle{
    max-width: 220px;
  }

  .button{
    width: 220px;
  }

  .card_scroll-block{
    width: 200px;
    justify-content: space-evenly;
  }

  .card__title{
    margin-bottom: 12px;
  }

  .card__img{
    height: 350px;
    width: 350px;
  }

  .card__img{
    margin-right: 35px;
  }

  .card__description-block{
    margin-right: 0;
  }

  .card__product-description{
    display: flex;
    flex-direction: column;
    gap: 8px;
    color: var(--COLOR_DARK);
    margin-bottom: 16px;
    max-width: 220px;
  }

  .product-description__paragraph{
    font-size: var(--FONT_SIZE_12);
    line-height: 24px;
  }

  .first-section__wrapper{
    align-items: center;
  }

  .first-section__achievements{
    flex-direction: row;
  }

  .why-are-we__card{
    width: 719px;
  }

  .card__description_button{
    display: flex;
    padding: 12px 78px;
    background-color: var(--COLOR_WHITE);
    border: 1px solid var(--COLOR_BLACK);
    text-decoration: none;
    color: var(--COLOR_BLACK);
    justify-content: center;
  }

  .categories__card{
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .categories__card_img{
    margin-bottom: 0;
  }

  .footer__hr{
    width: 720px;
  }
}

@media all and (min-width:1024px){

  .container{
    min-width: 1024px;
  }

  .card{
    margin-bottom: 40px;
  }

  .card__img{
    height: 450px;
    width: 450px;
  }

  .second-section__wrapper{
    min-height: 345px;
  }

  .why-are-we__wrapper{
    flex-direction: row;

  }

  .why-are-we__card{
    width: 240px;
    border-top: none;
    border-bottom: none;
    border-left: 1px solid var(--COLOR_GREY);
    border-right: 1px solid var(--COLOR_GREY);
  }

  .categories__card_img{
    width: 380px;
    height: 380px;
  }


  .footer-section__wrapper{
    min-height: 440px;
  }

  .footer-section__nav-menu{
    display: flex;
  }

  .footer-section__communication{
    justify-content: space-around;
  }

  .footer-section__nav-menu{
    display: flex;
    justify-content: center;
    gap: 50px;
  }

  .nav-menu__wrapper{
    gap: 50px;
    justify-content: center;
  }

  .footer__nav-menu_list:last-child{
    max-width: none;
  }

  .footer__hr{
    width: 780px;
  }

}

@media all and (min-width:1280px){

  .container{
    min-width: 1280px;
  }

  .promo-text{
    font-size: var(--FONT_SIZE_16);
  }

  .title{
    font-size: var(--FONT_SIZE_38);
  }

  .card__title{
    margin-bottom: 20px;
  }

  .card__product-description{
    max-width: 255px;
  }

  .product-description__paragraph{
    font-size: var(--FONT_SIZE_14);
  }

  .card__img{
    height: 500px;
    width: 500px;
  }

  .first-section__wrapper{
    gap: 80px;
  }

  .first-section__achievements{
    gap: 80px;
  }

  .achievements-item__title{
    margin-bottom: 16px;
  }

  .achievements-item__subtitle{
    font-size: var(--FONT_SIZE_16);
  }

  .why-are-we__card{
    width: 387px;
  }

  .categories__card{
    position: relative;
    width: 600px;
    height: 450px;
    background-color: #FAFAFA;
  }

  .categories__card_img{
    position: relative;
    left: 220px;
  }

  .categories__card_description{
    position: relative;
    bottom: 70px;
    width: 220px;
    left: 40px;
  }

  .card__description_button{
    position: relative;
    bottom: 70px;
    width: 220px;
    left: 40px;
  }

  .fourth-section__popular-cards{
    margin-bottom: 100px;
  }

  .popular__card{
    height: 450px;
  }

  .popular__card_img{
    width: 320px;
  }

  .fifth-section__wrapper{
    min-height: 272px
  }

  .fifth-section__subtitle{
    max-width: 401px;
  }

  .fifth-section__forms{
    flex-direction: row;
  }

  form{
    width: 240px;
  }

  input{
    width: 208px;
  }

  .footer-section__main-blocks{
    display: flex;
    justify-content: space-evenly;
  }

  .footer-section__communication{
    flex-direction: column;
    justify-content: space-between;
  }

  .list-item{
    font-size: var(--FONT_SIZE_16);
  }

  .footer__hr {
    width: 1100px;
}

.footer__copyright{
  font-size: var(--FONT_SIZE_14);
}

}

@media all and (min-width:1536px){

  .container{
    min-width: 1440px;
  }
}
