.footer-section__wrapper{
  display: flex;
  flex-direction: column;
  min-height: 585px;
  background: var(--COLOR_BCG_DARK);
  padding: 32px 16px;
  justify-content: center;
}

.footer-section__communication{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

.footer-section__socials{
  display: flex;
  align-items: center;
  gap: 24px;
}

.nav-menu__wrapper{
  display: flex;
  margin-bottom: 24px;
  justify-content: space-between;
}

.nav-menu__text{
  font-size: var(--FONT_SIZE_12);
  line-height: 14px;
  color: var(--COLOR_GREY);
}

.nav-menu__list{
  display: flex;
  gap: 12px;
}

.footer__nav-menu_list{
  flex-direction: column;
}

.footer__nav-menu_list:last-child{
  margin-right: 0;
  max-width: 143px;
}

.nav-title{
  color: var(--COLOR_WHITE);
  font-size: var(--FONT_SIZE_20);
  line-height: 34px;
}

.list-item{
  color: var(--COLOR_WHITE);
  font-size: var(--FONT_SIZE_14);
  line-height: 24px;
}

.footer__bottom-section{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__line{
  border: 1px solid var(--COLOR_DARK);
  margin-bottom: 16px;
  width: 271px;
}

.footer__copyright{
  text-align: center;
  font-size: var(--FONT_SIZE_12);
  line-height: 14px;
  color: var(--COLOR_WHITE);
}

@media all and (min-width:414px){

  .footer__line{
    width: 365px;
  }
}

@media all and (min-width:640px){

  .footer-section__communication{
    justify-content: space-evenly;
  }

  .nav-menu__wrapper{
    justify-content: space-evenly;
  }

  .footer__line{
    width: 592px;
  }
}

@media all and (min-width:768px){

  .footer__line{
    width: 720px;
  }
}

@media all and (min-width:1024px){

  .footer-section__wrapper{
    min-height: 440px;
  }

  .footer-section__nav-menu{
    display: flex;
  }

  .footer-section__communication{
    justify-content: space-around;
  }

  .footer-section__nav-menu{
    display: flex;
    justify-content: center;
    gap: 50px;
  }

  .nav-menu__wrapper{
    gap: 50px;
    justify-content: center;
  }

  .footer__nav-menu_list:last-child{
    max-width: none;
  }

  .footer__line{
    width: 780px;
  }
}

@media all and (min-width:1280px){

  .footer-section__main-blocks{
    display: flex;
    justify-content: space-evenly;
  }

  .footer-section__communication{
    flex-direction: column;
    justify-content: space-between;
  }

  .list-item{
    font-size: var(--FONT_SIZE_16);
  }

  .footer__line {
    width: 1100px;
  }

  .footer__copyright{
    font-size: var(--FONT_SIZE_14);
  }
}

@media all and (min-width:1536px){

  .footer-section__wrapper{
    padding-top:55px ;
  }

  .footer-section__main-blocks{
    margin-bottom: 50px;
  }
}
