.header__promo-block{
  padding: 12px 20px;
  background: var(--COLOR_DARK);
  display: flex;
  justify-content: center;
}

.promo-text{
  font-size: var(--FONT_SIZE_12);
}

.back-call{
  display: none;
  text-decoration: underline;
  margin-right: 100px;
}

header .logo{
  display: none;
}

.header__nav{
  display: flex;
}

.header-wrapper{
  padding: 23px 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: inset 0px -1px 0px var(--COLOR_GREY);
}

.menu{
  display: none;
}

header .menu__list{
  display: flex;
  flex-direction: row;
  gap: 12px;
}

.hamburger{
  background: none;
  border: none;
  width: 24px;
  height: 14px;
  z-index: 30;
}

.hamburger__item{
  height: 2px;
  width: 100%;
  display: block;
  background: black;
  margin-bottom: 4px;
  transition: 0.2s all;
}

.hamburger__item:last-child{
  margin-bottom: 0;
}

.menu__contact-number{
  display: none;
}

.black-link{
  color: var(--COLOR_BLACK);
}


.header__icons-block{
  display: flex;
  align-items: center;
  gap: 16px;
}

.icons-block__icons{
  height: 32px;
  width: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media all and (min-width:768px){

  .hamburger{
    display: none;
  }

 header .logo{
    display: block;
  }

  .menu{
    display: flex;
  }

  .header-wrapper{
    justify-content: space-around;
  }

  .header__menu_list{
    flex-direction: row;
  }

  .menu__contact-number{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: var(--FONT_SIZE_14);
  }
}

@media all and (min-width:1280px){

  .header__promo-block{
    justify-content: flex-end;
  }

  .promo-text{
    margin-right: 200px;
    letter-spacing: 0.12em;
    font-size: var(--FONT_SIZE_16);
  }

  .back-call{
    display: block;
  }
}

@media all and (min-width:1536px){

  .header__menu_list-item{
    font-size: var(--FONT_SIZE_20);
  }

  .menu__contact-number{
    font-size: var(--FONT_SIZE_18);
  }
}
